# 파이썬 연습

In [1]:
kor = 90
eng = 100

sum = kor + eng
avg = sum/2

print("합계:", sum)
print("평균:", avg)

합계: 190
평균: 95.0

In [7]:
variable = 123456
variable2 = "하나둘셋"

In [8]:
variable

123456

In [9]:
variable2

'하나둘셋'

In [10]:
variable = variable2
variable

'하나둘셋'

In [11]:
variable+variable2

'하나둘셋하나둘셋'

In [12]:
age =100
Age =-100

age, Age

(100, -100)

In [16]:
age = 200
Age = 300

In [17]:
print(age, Age)

200 300

In [18]:
i = 10
j = 100
k = -20000

i, j, k

(10, 100, -20000)

In [19]:
type(1)

int

In [20]:
1e3

1000.0

In [21]:
type(1e3)

float

In [22]:
a= 30
b='30'

In [24]:
type(a), type(b)

(int, str)

In [26]:
x = 'i am happy'
x

'i am happy'

In [27]:
len(x)

10

In [28]:
x[0], x[1], x[2]

('i', ' ', 'a')

In [29]:
x[1:4]

' am'

In [31]:
x[4:]

' happy'

In [32]:
x[-4:]

'appy'

In [33]:
x[-4:-2]

'ap'

In [34]:
x[-2]

'p'

In [35]:
x[:-2]

'i am hap'

In [36]:
10>20

False

In [37]:
1>2==False

False

In [39]:
type(True), type(False)

(bool, bool)

In [42]:
print(10*3)
print(10/3)
print(10//3)
print(10%3)
print(10**3)

30
3.3333333333333335
3
1
1000

# -=. +=, /=, //=, *=, **= 다 가능

In [51]:
x= 10    
x+=10
print(x)

20

In [52]:
print(x)
x/=10
print(x)

20
2.0

In [53]:
'허'*100

'허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허허'

In [54]:
a='호'
b='빵'
a+b

'호빵'

In [57]:
a = '100'
print(type(a))
print(type(int(a)))
int(a)+10

<class 'str'>
<class 'int'>

110

In [65]:
name = '홍길동'
addr = '서울'
age=10000

print("내 이름은 %s이고 주소는 %s입니다."%(name, addr))

내 이름은 홍길동이고 주소는 서울입니다.

# .format()

In [79]:
"내 이름은 {} 이고 주소는 {} 입니다. 나이는 {} ".format(name, addr, age)

'내 이름은 홍길동 이고 주소는 서울 입니다. 나이는 10000 '

In [78]:
"내 이름은 {0} 이고 주소는 {2} 입니다. 나이는 {1} ".format(name, addr, age)

'내 이름은 홍길동 이고 주소는 10000 입니다. 나이는 서울 '

# 문자열 객체

In [80]:
'abc'.upper()

'ABC'

In [81]:
'abc'.title()

'Abc'

In [88]:
' abc asdfasf '.strip()

'abc asdfasf'

In [87]:
' abc asdfasf '.lstrip()

'abc asdfasf '

In [89]:
' abc asdfasf '.rstrip()

' abc asdfasf'

In [91]:
' abc asdfasf '.replace('s', 'kk')

' abc akkdfakkf '

# 프린트

In [93]:
print('1111', 2222, '3333', sep="-")

1111-2222-3333

In [94]:
print('2020', 12, '01', sep="/")

2020/12/01

In [96]:
print('2020{}12{}01'.format("/","/"))

2020/12/01

In [98]:
abc = None
type(abc)

NoneType

In [99]:
a= input("첫번째 숫자를 입력하시오: ")
b= input("두번째 숫자를 입력하시오: ")

c= int(a)+int(b)

print(c)

첫번째 숫자를 입력하시오: 3
두번째 숫자를 입력하시오: 4
7

In [101]:
inch = float(input("인치를 입력하시오: "))

cm = inch*2.54

print("센티미터: %.2f"%cm)

인치를 입력하시오: 3
센티미터: 7.62

In [102]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

조건:

 - True, False 판단!
 - 크냐, 작냐, 같냐, ...
     <, >, <=, >=, ==, !=

In [103]:
a =100
b=10
if a>b:
    print("A가 큼")
    
else:
    print("A가 작음")

A가 큼